*{
  font-family: 'Poppins', sans-serif;
}


.sliderCarousel {
  max-width: 1240px;

  aspect-ratio: 16 / 9;
}

.sliderCarousel img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  
}

.swiper-button-next,
.swiper-button-prev {
    right:10px;
    padding: 30px;
    color: #FFBA08 !important;
    fill: #FFBA08 !important;
    stroke: #FFBA08 !important;
}
.swiper-pagination-bullet{
  background-color: red;
}

.swiper-pagination-bullet-active{
  background: #FFBA08 !important;
}

.text-center{
  transform: translate(-50%, -50%);
}

.brightness_40{
  filter: brightness(40%);
}
